<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  <div fxFlex="40">
  	<div fxFlex *ngIf="dish">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3>{{dish.name | uppercase}}</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src={{dish.image}} alt={{dish.name}}>
      <mat-card-content>
        <p>{{dish.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
  
  <div fxFlex="40">
    
    <div fxFlex *ngIf="dish">
        
    	<mat-list fxFlex>
  			<mat-list-item>
    		<p mat-line> {{dish.comments[0].comment}} </p>
    		<p mat-line>
     		 <span> {{dish.comments[0].rating}} Stars </span>
    		</p>
    		<p mat-line> --{{dish.comments[0].author}}  {{dish.comments[0].date | date}}</p>

  			</mat-list-item>
  			<mat-list-item>
    		<p mat-line> {{dish.comments[1].comment}} </p>
    		<p mat-line>
     		 <span> {{dish.comments[1].rating}} Stars </span>
    		</p>
    		<p mat-line> --{{dish.comments[1].author}}  {{dish.comments[1].date | date}}</p>

  			</mat-list-item>
  			<mat-list-item>
    		<p mat-line> {{dish.comments[2].comment}} </p>
    		<p mat-line>
     		 <span> {{dish.comments[2].rating}} Stars </span>
    		</p>
    		<p mat-line> --{{dish.comments[2].author}}  {{dish.comments[2].date | date}}</p>

  			</mat-list-item>
  			<mat-list-item>
    		<p mat-line> {{dish.comments[3].comment}} </p>
    		<p mat-line>
     		 <span> {{dish.comments[3].rating}} Stars </span>
    		</p>
    		<p mat-line> --{{dish.comments[3].author}}  {{dish.comments[3].date | date}}</p>

  			</mat-list-item>
  			<mat-list-item>
    		<p mat-line> {{dish.comments[4].comment}} </p>
    		<p mat-line>
     		 <span> {{dish.comments[4].rating}} Stars </span>
    		</p>
    		<p mat-line> --{{dish.comments[4].author}}  {{dish.comments[4].date | date}}</p>

  			</mat-list-item>
		</mat-list>

    </div>
  </div>
   

</div>